<label class="title"> Gestion stock </label>

<br>

<button [hidden]="!isHidden" type="button" class="btn" (click) = "add()">Ajouter</button>

<br><br>

<div  [hidden]="isHidden">

  <form (ngSubmit)="validate()" [formGroup]="produitForm">
    <div>
      <label style="padding-right:50px">Nom</label><input formControlName="nom" >
      <div *ngIf="nomCtrl.dirty && nomCtrl.hasError('required')"><p class="error">Le nom est obligatoire</p></div>
    </div>
    <div>
      <label style="padding-right:5px">Fournisseur</label><input formControlName="fournisseur">
      <div *ngIf="fournisseurCtrl.dirty && fournisseurCtrl.hasError('required')"><p class="error">Le fournisseur est obligatoire</p></div>
    </div>
    <div>
      <label style="padding-right:55px">Age</label><input formControlName="age">
      <div *ngIf="ageCtrl.dirty && ageCtrl.hasError('pattern')"><p class="error">L'age doit être un nombre</p></div>
      <div *ngIf="ageCtrl.dirty && ageCtrl.hasError('required')"><p class="error">L'age est obligatoire</p></div>
    </div>
    <div>
      <label style="padding-right:7px">Description</label><input formControlName="description">
      <div *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')"><p class="error">La description est obligatoire</p></div>
    </div>
    <br>
    <button type="submit">Ajouter</button>
  </form>

</div>

<br><br>  

<table>
  <tr *ngFor="let produit of stock; even as isEven" [style.background-color]="isEven ? '#FFFFFF' : '#CED4E9'">
      <td>{{produit.nom | uppercase}}</td>
      <td>{{produit.description | lowercase | slice:0:20 }} </td>
      <td>{{produit.prix | currency:'EUR'}} </td>
      <td>{{produit.ingredients}} </td>
      <button type="button" class="btn btn-danger" (click)="delete(produit)"> delete </button>
  </tr>
</table>